#clockdiv {
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
	margin-top: -60px;

}


#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
	margin-right: -20px;
}

#clockdiv div > span {
	font-family: 'Roboto', sans-serif;
    padding: 20px;
    border-radius: 100%;
    border: solid 2px #b7babc; 
    background: #222428;
	color: #ccc;
	font-size: 35px;
	font-weight: 400;
    display: inline-block;
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
}

.smalltext {
    font-size: 14px;
    color: #b7babc;
    font-weight: normal;
}



@media screen and (max-width: 420px) {
    #clockdiv > div {
        padding: 4px;
		margin-right: -10px;
		margin-top: 15px;
    }

    #clockdiv {
        font-size: 28px;
    }

}



@media screen and (max-width: 420px) {
    #clockdiv > div {
        padding: 4px;
    }

    #clockdiv {
        font-size: 28px;
    }

}

@media screen and (max-width: 320px) {
    #clockdiv > div {
        padding: 4px;
		margin-right: -12px;
		margin-top: 15px;
    }

    #clockdiv {
        font-size: 28px;
    }
	
	#clockdiv div > span {
	font-family: 'Roboto', sans-serif;
    padding: 15px;
    border-radius: 100%;
    border: solid 2px #b7babc; 
    background: #222428;
	color: #ccc;
	font-size: 24px;
	font-weight: 400;
    display: inline-block;
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
}

}
#clockdiv {
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
	margin-top: -60px;

}


#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
	margin-right: -20px;
}

#clockdiv div > span {
	font-family: 'Roboto', sans-serif;
    padding: 20px;
    border-radius: 100%;
    border: solid 2px #b7babc; 
    background: #222428;
	color: #ccc;
	font-size: 35px;
	font-weight: 400;
    display: inline-block;
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
}

.smalltext {
    font-size: 14px;
    color: #b7babc;
    font-weight: normal;
}



@media screen and (max-width: 420px) {
    #clockdiv > div {
        padding: 4px;
		margin-right: -10px;
		margin-top: 15px;
    }

    #clockdiv {
        font-size: 28px;
    }

}



@media screen and (max-width: 420px) {
    #clockdiv > div {
        padding: 4px;
    }

    #clockdiv {
        font-size: 28px;
    }

}

@media screen and (max-width: 320px) {
    #clockdiv > div {
        padding: 4px;
		margin-right: -12px;
		margin-top: 15px;
    }

    #clockdiv {
        font-size: 28px;
    }
	
	#clockdiv div > span {
	font-family: 'Roboto', sans-serif;
    padding: 15px;
    border-radius: 100%;
    border: solid 2px #b7babc; 
    background: #222428;
	color: #ccc;
	font-size: 24px;
	font-weight: 400;
    display: inline-block;
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
}

}
